@{
    ViewBag.Title = "Directory Page";
}

<!--Title of the directory page -->
<div class="subpage-banner">
    <div class="constrain">
        <h2 class="page-title" align="center" >Board Member Directory</h2>
    </div>
</div>
</div>

<!--entry for directory memeber just copy and past when adding member then just change the instances from the old member to the new member-->


<div class="bm" id="block_961">
    <table width=100% height=100%>
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <img src="http://d1ambw9zjiu0uw.cloudfront.net/media/102_keith-kelley_large.jpg?1446721210" alt="Noah test" width="100" height="100" />
            </td>
        </tr>
    </table>
    <div class="text-wrapper">
        <!--name-->
        <h4 class="name" align="center"><b>test Data</b></h4>
        <!--title-->
        <h5 class="title" align="center"><b>President</b></h5>
        <!--All contact information enter in new a href links for company, email, maps, and phone-->
        <p class="contact" align="center">
            <strong align="center">Company:</strong> <a href="https://www.harrismckayrealty.com/featured-searches/rentals/" target="_blank" title="Company" style="color:black">Harris McKay Realty</a><br />
            <strong align="center">Phone:</strong> <a title="Phone" style="color:black">555-555-5555</a><br />
            <strong align="center">Email:</strong> <a href="mailto:keith@harrismckay.com" title="Email" style="color:black">keith@harrismckay.com</a><br />
            <strong align="center">Address:</strong> <a href="https://goo.gl/maps/xzBL1maLqfnvQQz58" target="_blank" title="Address" style="color:black">123 S. Quintard Avenue, Anniston, AL 36202</a><br />

        </p>

    </div>





    


